body {
  background: #fff;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  color: #293094;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  margin: 0.8em 0 0.4em;
  color: #aa0000;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #aa0000;
}

a {
  color: #aa0000;

  &:visited {
    color: #aa0000;
  }
}

figure {
  border: 1px solid #333;
  margin: 10px 0 10px 20px;
  float: right;
  clear: both;
  text-align: center;

  figcaption {
    margin: 3px 0px 8px 0px;
    font-weight: bold;
    font-size: 1em;
  }
}

.page {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.header {
  height: 145px;

  h1 {
    margin: 0px 0px 0px 10px;
    font-size: 7em;
    color: #293094;

    a {
      text-decoration: none;
      color: #293094;

      &:visited {
        text-decoration: none;
        color: #293094;
      }
    }
  }

  .logo {
    float: left;
  }

  .name {
    float: right;
    margin-right: 25px;
  }
}

.navigation {
  background: #333;
  padding: 10px 0px 10px 10px;
  margin-bottom: 15px;
  font-size: 24px;
  clear: both;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    padding: 0;
    display: inline;
    list-style-type: none;
    float: left;

    &.active a {
      text-decoration: underline;
    }

    a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 5px 10px;
    }
  }
}

.content {
  line-height: 22px;
  text-align: justify;
  color: #000;
}

.footer {
  text-align: center;
  background-color: #bbb;
  padding: 10px 0px 10px 0px;
  font-size: 11px;
  color: #525252;
  margin: 50px 0 25px;

  a {
    color: #525252;
  }
}

.clear-block {
  display: block;

  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
