---
layout: index.njk
permalink: norilsk-video.html
title: "Norilsk Music Video: Song of a Polar Summer"
navigation:
    page: norilsk-video
---

<h1>Norilsk Music Video: "Song of a Polar Summer"</h1>

<div class="video">
    <video width="640" height="480" controls>
    <source src="/img/norilsk-video-song-of-a-polar-summer.mp4" type="video/mp4">
    </video>
</div>

<div class="lyrics clear-block">
    <div class="russian">
        <p>На севере шутит бывалый народ:</p>
        <p>"Зима в Заполярье стоит целый год,</p>
        <p>А то, что останется, - это</p>
        <p>Есть наше полярное лето".</p>
        <p class="chorus">(Chorus Begins)</p>
        <p class="chorus">У нас в Норильске</p>
        <p class="chorus">Мороз с метелями,</p>
        <p class="chorus">У нас в Норильске</p>
        <p class="chorus">Пурга неделями,</p>
        <p class="chorus">Но каждый в город свой влюблен,</p>
        <p class="chorus">И дружба - наш святой закон!</p>
        <p class="chorus">Зато нет сердца светлей и жарче,</p>
        <p class="chorus">И нет улыбки теплей и ярче,</p>
        <p class="chorus">Чем у северяночки,</p>
        <p class="chorus">Чем у норильчаночки!</p>
        <p class="chorus">(Chorus Ends)</p>
        <p>В сиянии северном звездная даль,</p>
        <p>Его чтоб увидеть, пол-жизни не жаль,</p>
        <p>Но главное чудо не это,</p>
        <p>А тундра, залитая светом.</p>
        <p class="chorus">(Chorus Repeats)</p>
        <p>Пусть близко отсюда до края земли,</p>
        <p>Но надо, чтоб всюду сады расцвели,</p>
        <p>И мы принесем солнце юга</p>
        <p>В столицу полярного круга.</p>
        <p class="chorus">(Chorus Repeats)</p>
        <p>(The End)</p>
    </div>

    <div class="english">
        <p>In the north jokes an experienced people:</p>
        <p>"Winter in the arctic lasts all year,</p>
        <p>And what is left,</p>
        <p>Is our polar summer".</p>
        <p class="chorus">(Chorus Begins)</p>
        <p class="chorus">In our Norilsk</p>
        <p class="chorus">There is frost with snowstorms,</p>
        <p class="chorus">In our Norilsk,</p>
        <p class="chorus">There are blizzardy weeks,</p>
        <p class="chorus">But everyone is in love with their city,</p>
        <p class="chorus">And friendship - is our sacred law!</p>
        <p class="chorus">There is no heart more luminous and hot,</p>
        <p class="chorus">And no smile more warm and bright,</p>
        <p class="chorus">Than of northern people,</p>
        <p class="chorus">Than of Norilskites!</p>
        <p class="chorus">(Chorus Ends)</p>
        <p>In the glow of a starry northern distance,</p>
        <p>Of who will see, regret it not in a lifetime,</p>
        <p>Though a miracle this is not,</p>
        <p>But tundra, flooded with light.</p>
        <p class="chorus">(Chorus Repeats)</p>
        <p>Let it be close, from here to the edge of the earth,</p>
        <p>But it must be, so gardens may bloom throughout,</p>
        <p>And we will bring sunlight from the South,</p>
        <p>To the capital of the Arctic Circle.</p>
        <p class="chorus">(Chorus Repeats)</p>
        <p>(The End)</p>
    </div>
</div>
